appsettings.json
docker-compose.dcproj
your-backup-script.sql
docker-compose.dcproj 
docker-compose.override.yml 
docker-compose.yml 
Dockerfile 
Dockerfile1 
github-metrics.svg
nlog.config
OpenAiService.cs